<div class="container">
    <nav aria-label="breadcrumb" style="background-color: white;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home-index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Perfil Data</li>
      </ol>
    </nav>  
    <div class="card inner-main">
      <div class="card-header">
        User Profile
      </div>
      <div class="card-body"> 
        <p class="card-text">Name: <strong>{{UserProfile?.name}}</strong></p>
        <p class="card-text">Email: <strong>{{UserProfile?.email}}</strong></p>
      </div>
    </div>
  </div> 