.button-form{
    background-color: #3DAFBB;
    color: aliceblue;
    border-radius: 15px;  
}

.button-form:hover{
    color: #3DAFBB;
    background-color: aliceblue;
    border-radius: 15px;  
    border: 1px solid #3DAFBB;
}