.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
}

.btn-circle.btn-xl:hover {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  background-color: #fff;
  color: #000;
  text-align: center;

}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  text-align: center;

}

.btn-circle:hover {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  background-color: #fff;
  color: #000;
  text-align: center;

}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;

}

.container-navbar-button{

  margin: 0 auto; 
  margin-top: 15%; 
  position: relative; 
  z-index: 100;    
  display: block;
  margin-left: -17rem;

}

.container-navbar-button-off{
  margin-left: 0;
  width: calc(100% - 17rem);
  margin-top: 15%; 
  position: relative; 
  z-index: 100;    
}
  
  .page-content {
    position: relative;
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }

  .page-content-all {
    position: relative;
    width: 100%;
   
    transition: all 0.4s;
  }
    
  #active-button {
    margin-left: -17rem;
  }
  #active-button.active {
    margin-left: 0;
    width: calc(100% - 17rem);
  }
 
  #active-button {
    margin: auto;
    position: absolute;
    top: 50%;
    z-index: 100;
    margin-left: 5rem;
    width: calc(100% - 17rem);
  }
  #active-button.active {
    z-index: 100;
    margin-left: 17rem; 
  }

  #sidebar.active {
    margin-left: -17rem;
  }

  #content {
    width: calc(100% - 0rem); 
    background-color: #fff;
  }
  #content.active { 
    width: 83%;
    margin-left: 17rem; 
    background-color: #fff; 
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }

    #active-button {
      width: 100%;
      margin: 0;
    }
    #active-button.active {
      margin: 0;
      width: calc(100% - 17rem);
    }

    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin: 0;
      width: calc(100% - 17rem);
    }   
  }
  
 
